services:
  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "8080:80"

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server_proxy
    ports:
      - "3000:3000"
